@import '../../../node_modules/openlayers/dist/ol.css';

/* Template styles below */

:host {
  --dock-margin: 0.5em;

  /* This custom element should behave like an image. */
  display: inline-block;
  width: 400px;
  height: 300px;
  background-color: gray;
  border: 1px solid black;
  box-sizing: border-box;
  overflow: hidden;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
}

#left-dock,
#right-dock {
  overflow-x: visible;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

#bottom-dock {
  overflow: hidden;
  user-select: none;
  pointer-events: none;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

#overlays {
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}

/* Flexbox styles */

#wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
}

#wrapper > #map {
  order: 2;
  flex: 1 1 auto;
  align-self: auto;
}

#wrapper > #left-dock {
  order: 1;
  flex: 0 0 auto;
  align-self: auto;
}

#wrapper > #right-dock {
  order: 3;
  flex: 0 0 auto;
  align-self: auto;
}

#wrapper > #bottom-dock {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  margin: var(--dock-margin);
}

#wrapper > #overlays {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#wrapper slot[name="left-dock"]::slotted(*),
#wrapper slot[name="right-dock"]::slotted(*) {
  flex: 1 0 auto;
}

#wrapper slot[name="bottom-dock"]::slotted(*) {
  flex: 0 0 auto;

  position: relative;
  display: inline-block;
}
