@import '../../../node_modules/openlayers/dist/ol.css';

/* Template styles below */

:host {
  /* This custom element should behave like an image. */
  display: inline-block;
  width: 400px;
  height: 300px;
  background-color: gray;
  border: 1px solid black;
  box-sizing: border-box;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
}

#layer-list {
  position: absolute;
  top: 0;
  right: auto;
  left: 0;
  bottom: 0;
  overflow: auto;
}
